
@import url('https://fonts.googleapis.com/css?family=Cantata+One|Domine|Prata');

html {
font-size: 12px;
}


body {

    font-family: 'Cantata One', sans-serif;
    font-size: 100px;
    color: #0f3066;
    margin: 0;
    text-align: center;
}


/* #heading {
  font-family: 'Cantata One', sans-serif;
  font-size: 100px;
  color: #0f3066;
  margin: 0;
  text-align: center;
} */

#grad1 {
  height: 400vh;
  background-color: red; /* For browsers that do not support gradients */

  /*background-color: linear-gradient(0deg, #bad8ef, #d2efec, #e1e9ef)*/
  background-image: linear-gradient(0deg, #061e44, #05347f, #bad8ef, #d2efec, #e1e9ef); Standard syntax (must be last) */
  margin: 0;
}



p.invisible {

  text-decoration: none;
    color: transparent;
}

p:hover
{
    color: white;
}
/* to create hidden text upon hover*/



/*p.invisible1 {

  text-decoration: none;
    color: transparent;
}

p:hover
{
    color: darkblue;
}
